<form action="">
  <input type="text" name="titulo" placeholder="Título" />
  <br />
  <br />
  <textarea name="conteudo" placeholder="Postagem"></textarea>
  <br />
  <br />
  <button type="submit">Registrar</button>
</form>
<p>ROLA</p>